[Unit]
Description=M.E.S.H. Robot Client Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/dclark/mesh-robot
ExecStart=/bin/bash /home/dclark/mesh-robot/scripts/startup-client.sh
Restart=always
RestartSec=10
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
